@tailwind base;
@tailwind components;
@tailwind utilities;

.embla {
  overflow: hidden;
}

.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing, 1rem) * -1);
}

